:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0452ff;
    --secondary-color: #044930;
    --inverted-primary-color: #049684;
    --inverted-secondary-color: #04ff04;
}
